.divBanner {
    background-color: #ffffff;
}

.imagem {
    margin-left: 205px;
    border-radius: 0px 0px 18px 18px;
    margin-bottom: -15px;
}

.titulo {
    margin-top: 40px;
    margin-left: 460px;
}